<div id="body">
    <!-- Filtros -->
    <form [formGroup]="form">
        <div class="row center-content">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h6><b>Diretorias</b></h6>
                <div>
                    <select formControlName="diretoria" class="custom-select" name="diretoria">
                        <option value="todos">Todos</option>
                        <option *ngFor="let item of boardFilters" value="{{ item }}">{{ item }}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h6><b>Gerência</b></h6>
                <div>
                    <select formControlName="gerencia" class="custom-select" name="diretoria">
                        <option value="todos">Todos</option>
                        <option *ngFor="let item of managementFilters" value="{{ item }}">{{ item }}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h6><b>Nivel Decisório</b></h6>
                <div>
                    <select formControlName="nivelDecisorio" class="custom-select" name="diretoria">
                        <option value="todos">Todos</option>
                        <option *ngFor="let item of allFilters['decisionLevel']" value="{{ item }}">{{ item }}</option>
                    </select>
                </div>
            </div>
            <div class="item-checkbox col-lg-3 col-md-3 col-sm-12">
                <h6><b>Selos</b></h6>
                <div formGroupName="selos" class="row">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input formControlName="ouro" type="checkbox" class="custom-control-input" id="selo-ouro">
                        <label class="custom-control-label" for="selo-ouro">Ouro</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input formControlName="prata" type="checkbox" class="custom-control-input" id="selo-prata">
                        <label class="custom-control-label" for="selo-prata">Prata</label>
                    </div>
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input formControlName="bronze" type="checkbox" class="custom-control-input" id="selo-bronze">
                        <label class="custom-control-label" for="selo-bronze">Bronze</label>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <ngx-spinner bdOpacity=0.9 bdColor="rgba(255, 255, 255, 0.5)" size="medium" color="#3396c5" type="ball-spin" [fullScreen]="false"></ngx-spinner>

    <!-- Favoritos -->
    <div id="favorites" *ngIf="favorites.length != 0">
        <h3>Dashboards favoritos ({{ favorites.length }})</h3>
        <carousel [interval]="false">
            <ng-container *ngFor="let catalog of favorites; index as i">
                <slide *ngIf="i % 5 == 0">
                    <div class="favorite-line">
                        <ng-container *ngFor="let favorite of favorites; index as j">
                            <div *ngIf="j >= i && j < (i + 5)" class="favorite">
                                <div class="img-catalogs">
                                    <img class="img-favorite-metal" src="assets/{{favorite.medal}}.png">
                                    <img class="img-favorite-star" src="assets/star-full.svg">
                                    <img class="img-card-background" src="assets/dashboard.jpg">
                                </div>
                                <div>
                                    <div class="flex-center">
                                        <h5 class="text-uppercase">{{ favorite.title }}</h5>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <button class="btn btn-primary" (click)="accessPanel(favorite)">ACESSAR PAINEL</button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </slide>
            </ng-container>
        </carousel>
    </div>

    <!-- Catalogos -->
    <div id="catalogs" *ngIf="catalogs.length != 0">
        <h3>Todos os dashboards disponí­veis ({{ catalogs.length }})</h3>
        <div class="row all-catalogs">

            <ng-container *ngFor="let catalog of catalogs; index as i">
                <div class="catalog">
                    <div class="img-catalogs">
                        <img class="img-card-metal" src="assets/{{catalog.medal}}.png">
                        <img class="img-card-star" src="assets/star-full.svg">
                        <img class="img-card-background" src="assets/dashboard.jpg">
                    </div>
                    <div class="catalog-data">
                        <div class="flex-center mt-3">
                            <h5 class="text-uppercase">{{ catalog.title }}</h5>
                            <p class="text-limit">{{ catalog.description }}</p>
                        </div>
                        <div class="card-info">
                            <div class="information w-50 d-flex flex-row align-items-center justify-content-end" (click)="openModalWithComponent(catalog.id)">
                                <img class="img-card-circle" src="assets/model-information.svg">
                                <div>
                                    <span>Informações <br> adicionais</span>
                                </div>
                            </div>
                            <div class="w-50 d-flex flex-row align-items-center ml-5">
                                <img class="img-card-circle" src="assets/model-user.svg">
                                <div>
                                    <span *ngIf="catalog.focalPoint[0]">{{ catalog.focalPoint[0] }}</span>
                                    <br>
                                    <span *ngIf="catalog.focalPoint[1]">{{ catalog.focalPoint[1] }}</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <button class="btn btn-primary" (click)="accessPanel(catalog)">ACESSAR PAINEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>