#body {
}

form > * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

form, #favorites {
    margin-bottom: 25px;
}

h3 {
    color: #3396c5;
}

.all-catalogs {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.card-options {
    width: 100%;
    font-size: 0.7rem;
    margin: 1rem 0;
}

::ng-deep.carousel-indicators {
    display: none !important;
}

::ng-deep.carousel-control {
    width: 3% !important;
}

::ng-deep.btn-primary {
    background-color: 
    #3396c5;
}

.catalog {
    display: flex;
    flex-direction: column;
    width: 31%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    text-align: center;
}

.catalog-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-control-label {
    cursor: pointer;
}

.favorite {
    display: flex;
    flex-direction: column;
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    justify-content: space-between;
}

.favorite-line {
    display: flex;
    flex-direction: row;
}

.img-card-background {
    width: 100%;
}

.img-card-circle {
    width: 3rem;
    height: 3rem;
    padding-right: 5%;
}

.img-card-metal {
    position: absolute;
    margin-top: 0;
    margin-left: 1%;
    width: 2%;
}

.img-card-star {
    position: absolute;
    margin-top: 0;
    margin-left: 23%;
    width: 3%;
    &:hover {
        cursor: pointer;
    }
}

.img-favorite-metal {
    position: absolute;
    margin-top: 0;
    margin-left: 1%;
    width: 20px;
}

.img-favorite-star {
    position: absolute;
    margin-top: 0;
    margin-left: 16%;
    width: 20px;
    height: 20px;
    &:hover {
        cursor: pointer;
    }
}

.information {
    &:hover {
        cursor: pointer;
    }
}

::ng-deep.modal-dialog {
    min-width: 85% !important;

    .modal-content {
        min-height: 300px !important;
    }
}

.text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height:1.3 !important;
}