#body {
    position: sticky;
    top: 0px;
    z-index: 1000;
    height: 75px;
    background-color: #fff;
}

#nie {
    height: 100%;
    display: flex;
    align-items: center;
}

span {
    margin-left: 2%;
    font-size: 18pt;
    font-weight: bolder;
    color: #3396c5;
}