#body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    position: sticky;
    top: 0px;
    z-index: 1000;
}

#router {
    margin-left: 2%;
    margin-right: 2%;
}

#footer {
    margin-top: auto;
}