<div id="body">
    <div id="header">
        <app-header></app-header>
    </div>
    <div id="router">
        <router-outlet></router-outlet>
    </div>
    <div id="footer">
        <app-footer></app-footer>
    </div>
</div>