/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');     
html, body {
    margin: 0;
    height: 100%;
    font-family: Roboto;
    color: #666666;
}

button {
    border-radius: 1.5em !important;
}
