<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngx-spinner bdOpacity=0.9 bdColor="#ffffff" size="medium" color="#3396c5" type="ball-spin" [fullScreen]="true" ></ngx-spinner>
    <div>
        <tabset>
            <tab heading="Perguntas que o dashboard responde" id="tab1">
                <ul *ngIf="questions.length != 0; else NoData" class="list-group w-100">
                    <li class="list-group-item" *ngFor="let question of questions">{{ question }}</li>
                </ul>
            </tab>
            <tab heading="Glosário de indicadores">
                <table *ngIf="indicators.length != 0; else NoData" class="table table-responsive-xl" style="overflow-x: visible;">
                    <thead>
                        <tr>
                            <th scope="col">Indicador </th>
                            <th scope="col">Nome Curto </th>
                            <th scope="col">Descrição Detalhada </th>
                            <th scope="col">Unidade de Medida </th>
                            <th scope="col">Fórmula </th>
                        </tr>
                        <tr *ngFor="let indicator of indicators">
                            <td style="width:20%;">{{ indicator.indicator   }}</td>
                            <td style="width:20%;">{{ indicator.name        }}</td>
                            <td style="width:20%;">{{ indicator.description }}</td>
                            <td style="width:20%;">{{ indicator.unitMeasurement }}</td>
                            <td style="width:20%;">{{ indicator.formula     }}</td>
                        </tr>
                    </thead>
                    <tbody id="modal-tabela"></tbody>
                </table>
            </tab>
        </tabset>
    </div>
</div>

<ng-template #NoData>
    <div class="no-data">
        <p>Sem dados</p>
    </div>
</ng-template>